.search-page {
  flex: 1;
  display: flex;
  flex-direction: column;

  overflow-y: auto;

  h2.curly-signature {
    // font-family: $serif-font-family;
    text-transform: uppercase;
    font-size: 130%;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
    border-top: solid 1px #bbb;
    border-bottom: solid 1px #bbb;

    background-color: rgba(10, 10, 10, 0.8);
    color: #fff;
  }

  .search-box {
    padding: 10px;

    input {
      width: 50%;
    }

    &.alone {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .search-results {
    padding: 10px;
    flex: 1;

    font-family: "Ubuntu";

    list-style-type: none;
    padding: 10px;

    .search-result {
      padding: 10px;

      .sequence {
        list-style-type: none;
        // font-family: "Ubuntu Mono", mono;
        .nucleotide, .nucleotide-placeholder {
          display: inline-block;
          padding: 2px;
          text-transform: uppercase;
        }
      }

      .lineage {
        &> li {
          display: inline-block;
          margin-left: 5px;
          margin-top: 5px;
        }
      }
    }
  }
}
