<!doctype html>

<html>
  <head>
    <title>Wit - Error</title>
    <meta name="viewport" 
          content="width=device-width,
                   initial-scale=1.0,
                   maximum-scale=1.0,
                   user-scalable=no" />
    <link href="/favicon.ico" rel="icon" type="image/png" />
  </head>

  <body>
    <div class="app">
      <div class="error">
        <h1>Error</h1>
        <%= message %>
        <%= error || "" %>
      </div>
    </div>
  </body>
</html>
